
.dropdown li:hover{
 color: #0FA0EE ;
 
}
header{
    width: 100%;
}
/* .dropdown{
    display: inline-block;
    position: relative;
} */

/* .submenu{
    position: absolute;
    width: 50%;
    display: none;
    color: black;
    background-color: #fff;
    margin-top: 2%;
} */


/* .dropdown li:hover .submenu{
    display: block;
    
} */