.card-container{
    line-height: normal;
}
form{
    max-width: -webkit-fill-available;
}

.cat-file-container{
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cat-file-container select,
.cat-file-container .file-container{
    max-width: -webkit-fill-available;
}