
.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1b195b;
    color: white;
    align-items: center;
    justify-content: center;
   

}

.headphones{
    height: 30vh;
    
}

.title{
    font-size: 8vw;
    top: 20vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.login-form input {
    background-color: #1b195b;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: -webkit-fill-available;
}

.pass-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.loginBtn{

    background-color: #0FA0EE;
    padding: 2%;
    margin-top: 8%;
    align-self: center;
    width: 45%;
}

.register{
    margin-top: 8%;
    align-self: center;
}




